.sidebar {
    width: 250px;
    height: 500px;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    grid-column: 2 / 3;
    h2 {
        color: #333;
        font-size: 30px;
        margin-bottom: 20px;
        text-align: center;
    }
}
