.row-3 {
    display: flex;
    gap: 30px;
}

.radio-buttons {
    display: flex;
    margin-bottom: 30px;
}
/* The display of the custom radio buttons */
.custom-radio-input {
    display: none;
}

/* The button positioning */
.custom-radio-input + .custom-radio-label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}

/* Active appearance of the custom buttons */
.custom-radio-input:checked + .custom-radio-label::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
    width: 20px; /* Increase the width to match the gray circle */
    height: 20px; /* Increase the height to match the gray circle */
    background: #e5e5e5; /* Use the gray color for the background */
    border-radius: 50%;
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.08);
}

/* Active appearance of the inner green circle */
.custom-radio-input:checked + .custom-radio-label::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #57b846;
    z-index: 1; /* Ensure the green circle is above the gray circle */
}

/* The default appearance of the custom button */
.custom-radio-input + .custom-radio-label::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: #e5e5e5;
    border-radius: 50%;
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.08);
}

/* Hover for custom radio buttons */
.custom-radio-input + .custom-radio-label:hover::before {
    border: 1px solid #57b846; /* Change the border color on hover */
}

/* Additional styles for .radio-box (optional) */
.radio-box {
    margin-right: 20px;
}


@media (max-width: 650px) {
    .row-3 {
        display: block;
        input {
            width: 100%;
        }
    }
}
